<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Terms &amp; Conditions</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 1em;
        }
    </style>
</head>

<body>
    <p><strong>Terms &amp; Conditions</strong></p>
    <p><br></p>
    <p><strong>1. App Usage and Intellectual Property</strong></p>
    <p>By downloading or using the app, these terms will automatically apply to you. Please read them carefully before
        using the app. You are not allowed to copy, modify, or translate the app, any part of it, or our trademarks.
        Attempting to extract the app&apos;s source code is prohibited. All intellectual property rights related to the
        app belong to BOCS Academy.</p>
    <p><br></p>
    <p><strong>2. Changes and Charges</strong></p>
    <p>BOCS Academy reserves the right to make changes to the app or charge for its services at any time and for any
        reason. You will be informed clearly before any charges are applied.</p>
    <p><br></p>
    <p><strong>3. Data Privacy and Security</strong></p>
    <p>The app does not stores or process your personal data except your name, email, and phone number provided by you
        to provide our service. Ensure to keep your phone and app access secure. Jailbreaking or rooting your phone may
        compromise security and functionality.</p>
    <p><br></p>
    <p><strong>4. Third-Party Services</strong></p>
    <p>The app may use third-party services with their own terms and conditions. Please review these terms accordingly.
    </p>
    <p>Link to Terms and Conditions of third-party service providers used by the app</p>
    <ul>
        <li>
            <p><a href="https://policies.google.com/terms">Google Play Services</a></p>
        </li>
    </ul>
    <p><br></p>
    <p><strong>5. App Functionality and Internet Connection</strong></p>
    <p>Certain app functions require an active internet connection. BOCS Academy is not responsible for the app&apos;s
        limited functionality due to lack of internet access.</p>
    <p><br></p>
    <p><strong>6. Mobile Network Charges</strong></p>
    <p>Using the app outside of an area with Wi-Fi may incur data charges from your mobile network provider. You are
        responsible for such charges.</p>
    <p><br></p>
    <p><strong>7. Device Responsibility</strong></p>
    <p>BOCS Academy is not liable if your device runs out of battery, leading to the app&apos;s inability to function.
    </p>
    <p><br></p>
    <p><strong>8. Information Accuracy</strong></p>
    <p>While efforts are made to keep the app updated and correct, BOCS Academy relies on third-party information and
        accepts no liability for any loss resulting from reliance on such information.</p>
    <p><br></p>
    <p><strong>9. App Updates and Termination</strong></p>
    <p>You may need to download updates to continue using the app. BOCS Academy may terminate the app without prior
        notice. Upon termination, your rights to use the app will end.</p>
    <p><br></p>
    <p><strong>10. Purchase of Courses and Accessing Purchased Courses</strong></p>
    <ul>
        <li>
            <p>Course Purchase Process:&nbsp;Anyone can buy any course from this app. Follow the steps in the app to
                purchase a course. You can buy full or half of the course materials. Manual payment may require admin
                verification.</p>
        </li>
        <li>
            <p>Course Pricing and Availability:&nbsp;Prices are subject to change. Once purchased, the price is
                unaffected by future adjustments. Course availability may vary based on factors like geographical
                restrictions.</p>
        </li>
        <li>
            <p>Course Access:&nbsp;Upon successful payment and verification by the admin, you&apos;ll have immediate
                access to the purchased course, except for specific conditions on the course page. Access is
                non-transferable. Every purchase course has an expiration time specified in the course details in the
                app,</p>
        </li>
        <li>
            <p>Refunds and Cancellations:&nbsp;Refunds are eligible for issues with the course. Other circumstances may
                not qualify.</p>
        </li>
        <li>
            <p>Course Completion and Certificates:&nbsp;Courses may offer certificates of completion based on certain
                criteria.</p>
        </li>
        <li>
            <p>Intellectual Property and Copyright:&nbsp;Unauthorized distribution or reproduction of course materials
                is strictly prohibited and may result in legal action.</p>
        </li>
        <li>
            <p>Technical Requirements:&nbsp;You are responsible for ensuring compatible devices and software to access
                courses.</p>
        </li>
    </ul>
    <p><br></p>
    <p><strong>11. Changes to Terms and Conditions</strong></p>
    <p>We may update our Terms and Conditions periodically. Please review this page for any changes. The terms are
        effective as of 2023-06-21.</p>
    <p><br></p>
    <p><strong>12. Contact Us</strong></p>
    <p>For any questions or suggestions about our Terms and Conditions, please contact us at <a
            href="mailto:bocsacademy1@gmail.com">bocsacademy1@gmail.com</a>.</p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
</body>

</html>
